{% extends "templates/base.html" %}

{% block content %}
    {% if not user %}
        {% if response %}
        <div class="row">
            <h1>{{ response|safe }}</h1>
        </div>
        {% endif %}
    <div class="row">
        <div class="col-12">
            <form method="POST" action="/">
                {% csrf_token %}
                <div class="form-row">
                    <label>Username: <input type="text" name="username"></label>
                </div>
                <div class="form-row">
                    <label>Password: <input type="password" name="password"></label>
                </div>
                <div class="form-row">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
    {% else %}
        <div class="row">
            <h1>The logged in user is {{ user.name }}</h1>
        </div>
        <div class="row">
            <h3>Other users</h3>
        </div>
        <div class="row">
            <ul>
                {% for user in user_list %}
                    <li><a href="/users/{{ user.id }}">{{ user.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
