{% extends "templates/base.html" %}

{% block content %}
    {% if message %}
    <div class="row">
        <h1>{{ message }}</h1>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <form method="POST" action="/register">
                {% csrf_token %}
                <div class="form-row">
                    <label>Username: <input type="text" name="username" value="{{ old.username }}"></label>
                </div>
                <div class="form-row">
                    <label>E-mail: <input type="email" name="email" value="{{ old.email }}"></label>
                </div>
                <div class="form-row">
                    <label>Password: <input type="password" name="password" value="{{ old.password }}"></label>
                </div>
                <div class="form-row">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}